<mat-card >
  <mat-card-title>
    <mat-toolbar >
      <span>Register</span>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button color="accent" [matMenuTriggerFor]="appMenu">
          <i class="fas fa-ellipsis-v"></i>
      </button>

      <mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink="/login"><i class="fas fa-user-alt"></i>  Login</button>
      </mat-menu>
    </mat-toolbar>
  </mat-card-title>
  <mat-card-content>

      <mat-form-field>
        <input #email type="email"  matInput placeholder="E-Mail">
      </mat-form-field>

      <mat-form-field>
        <input #password type="Password"   matInput placeholder="Password">
      </mat-form-field>

      <mat-form-field>
        <input #cpassword type="Password"  matInput placeholder="Confirm Password">
      </mat-form-field>

      <button (click)="registerUser(email,password,cpassword)" mat-raised-button color="accent" class="login">Get Started</button>
  </mat-card-content>
</mat-card>
